<div class="row border-bottom">
	<nav class="navbar navbar-static-top example-header" role="navigation">
		<div class="navbar-header">
			<img src="./assets/images/brand/logo.png" class="brand-image-desktop">
			<img src="./assets/images/brand/logo_min.png" class="brand-image-mobile">
		</div>
		<ul class="nav navbar-top-links navbar-right">
			<li uib-dropdown>				
				<ul class="animated fadeInRight dropdown-alerts" uib-dropdown-menu>
					<li>
					</li>
				</ul>
			</li>
		</ul>

	</nav>
</div>